<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Music Visualization</title>
    <script src="https://d3js.org/d3.v7.min.js"></script>
    <script src="../static/app.js" defer></script>
    <script src="https://unpkg.com/opensheetmusicdisplay@0.8.3/build/opensheetmusicdisplay.min.js"></script>
    <style>
		.bar {
			fill: steelblue;
		}

		.bar:hover {
			fill: skyblue;
		}

		.axis--x path {
			display: none;
		}

		.axis--y path,
		.axis--y line {
			fill: none;
			stroke: #000;
			shape-rendering: crispEdges;
		}

		.axis--y text {
			font-size: 12px;
			font-family: sans-serif;
			transform: translate(-10px, 5px) rotate(-90deg);
			text-anchor: end;
		}
	</style>
</head>
<body>
    <h1>Music Visualization</h1>
    <h2 id="title"></h2>
    <div class="slidecontainer" style="display: flex; flex-direction: row; align-items: center; gap: 10px;">
        <input type="range" min="50" max="1200" value="300" class="slider" id="myRange" step="10">
        <h4 id="slider_value"></h4>
    </div>
    <div style="display: flex; flex-direction: row;">
        <div>
            <div id="vis" class="canvas"></div>
            <div id="osmdCanvas" ></div>
        </div>
        <div id="barChart" style="float: right;"></div>
    </div>
    <div id="pieChart"></div>
    <!-- <div id="barChart" style="font-family: sans-serif; font-size: 12px; background-color: #f7f7f7; padding: 10px; width: 800px; height: 600px;"></div> -->
</body>
</html>